<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="pattern">%-d{yyyy-MM-dd HH:mm:ss} [%thread] %m%n</Property>
        <Property name="APP">springboot_activiti</Property>
        <Property name="LOG_HOME">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{0} - %m%n"/>
        </Console>

        <RollingFile name="RollingFileInfo" fileName="${LOG_HOME}/${APP}_detail.log"
                     filePattern="${LOG_HOME}/${APP}_detail.%d{yyyyMMdd}.log.gz">
            <ThresholdFilter level="INFO"/>
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingFile>

        <RollingFile name="RollingFileError" fileName="${LOG_HOME}/${APP}_error.log"
                     filePattern="${LOG_HOME}/${APP}_error.%d{yyyyMMdd}.log.gz">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.http" level="WARN"/>
        <Logger name="org.activiti" level="WARN"/>
        <Logger name="org.springframework" level="WARN"/>
        <Root level="INFO">
            <Appender-ref ref="Console"/>
            <Appender-ref ref="RollingFileInfo"/>
            <Appender-ref ref="RollingFileError"/>
        </Root>
    </Loggers>
</Configuration>