<div class="modal" ng-controller="KisBpmAssignmentPopupCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;
                </button>
                <h2 translate>PROPERTY.ASSIGNMENT.TITLE</h2>
            </div>
            <div class="modal-body">
                <div class="row row-no-gutter">
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="add()">新增</button>
                    </div>
                </div>
                <div class="row row-no-gutter">
                    <div class="form-group">
                        <label for="assigneeField">{{'PROPERTY.ASSIGNMENT.ASSIGNEE' | translate}}(审批表达式中人员不确定或动态时选择此项)</label>
                        <select id="assigneeField" class="form-control" ng-model="assignment.assignee"
                                placeholder="{{'PROPERTY.ASSIGNMENT.ASSIGNEE_PLACEHOLDER' | translate}}">
                            <option value=''> 请选择</option>
                        </select>
                    </div>
                </div>

                <div class="row row-no-gutter">
                    <div class="form-group">
                        <label for="userField">{{'PROPERTY.ASSIGNMENT.CANDIDATE_USERS' | translate}}(审批表达式中有明确的审批对象时选择此项)</label>
                        <div ng-repeat="candidateUser in assignment.candidateUsers">
                            <select id="userField" class="form-control" type="text" ng-model="candidateUser.value">
                                <option value=''> 请选择</option>
                            </select>
                            <i class="glyphicon glyphicon-minus clickable-property"
                               ng-click="removeCandidateUserValue($index)"></i>
                            <i ng-if="$index == (assignment.candidateUsers.length - 1)"
                               class="glyphicon glyphicon-plus clickable-property"
                               ng-click="addCandidateUserValue($index)"></i>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button ng-click="close()" class="btn btn-primary" translate>ACTION.CANCEL</button>
                <button ng-click="save()" class="btn btn-primary" translate>ACTION.SAVE</button>
            </div>
        </div>
    </div>
</div>